<h1>Employees</h1>

<p data-bind="text: connected"></p>
<div class="loadingIndicator" data-bind="visible: loading()"></div>
<a class="btn btn-success" data-bind="click: add, visible: !loading()">Add</a>
<table class="table" data-bind="visible: !loading()">
  <thead>
    <tr>
      <th>Action</th>
      <th>Name</th>
      <th>Email</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody data-bind="foreach: employees">
    <tr data-bind="template: { name : $root.displayMode, data: $data}"></tr>
  </tbody>
</table>

<script type="text/html" id="read-template">
  <td>
    <a href="#" class="btn" data-bind="click: $root.edit">Edit</a>
    <a href="#" class="btn btn-warning" data-bind="click: $root.remove">Del</a>
  </td>
  <td data-bind="text: Name"></td>
  <td data-bind="text: Email"></td>
  <td data-bind="displayMoney: Salary"></td>
</script>

<script type="text/html" id="lock-template">
  <td><div class="btn btn-danger">Locked</div></td>
  <td data-bind="text: Name"></td>
  <td data-bind="text: Email"></td>
  <td data-bind="displayMoney: Salary"></td>
</script>

<script type="text/html" id="edit-template">
  <td><a href="#" class="btn btn-success" data-bind="click: $root.done">Done</a></td>
  <td><input type="text" data-bind="value: Name"/></td>
  <td><input type="text" data-bind="value: Email"/></td>
  <td><input type="text" data-bind="value: Salary"/></td>
</script>

@section scripts {
  <script src="~/Scripts/knockout-2.2.1.js"></script>
  <script src="~/App/CustomBindings.js"></script>
  <script src="~/Scripts/jquery.signalR-1.0.0.min.js"></script>
  <script src="/signalr/hubs"></script>
  <script src="~/App/EmployeeViewModel.js"></script>
}